/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

*.md.backup
docker-compose.override.yml

### Idea ###
.idea/
/.idea

### VS Code ###
.vscode/
/.vscode

### php cs fix ###
.php_cs.cache

### Blueprint ###
/draft.yaml
/.blueprint
