// Body
$body-bg: #f8fafc;
// $body-bg: #c1c1c1;
// $body-bg: #fafafa;
// $body-bg: #eee;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $white: #ffffff;
// $theme-colors: (
//   "light":      #bdc4bf,
//   "dark":       #cf4534,
//   "primary":    #435770,
//   "secondary":  #5580a0,
//   "info":       #c8e6f2,
//   "success":    #41b571,
//   "warning":    #e9d03b,
//   "danger":     #f82322,
// );

// $white: #ffffff;

// $theme-colors: (
//   "light":      #dbdfc5,
//   "dark":       #060420,
//   "primary":    #3e4877,
//   "secondary":  #607391,
//   "info":       #3193a2,
//   "accent1":    #dea5f8,
//   "accent2":    #ac76b0,
//   "accent3":    #eadce3,
//   "success":    #1fb86e,
//   "warning":    #e8d11b,
//   "danger":     #f9200d,
// );

// $theme-colors: (
//   "primary":    #3B71CA,
//   "secondary":  #9FA6B2,
//   "success":    #14A44D,
//   "info":       #54B4D3,
//   "warning":    #E4A11B,
//   "danger":     #DC4C64,
//   "light":      #FBFBFB,
//   "black":      #332D2D,
// );
